body {
font: arial;
background-image: image(assets);
}
aside {
background-color: #ffffff;
border-color: grey;
margin: auto;
}


.header {
width: 100%;
height: 80px;
display: block;
background-color: #ffffff;
border-color: grey;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    font: helvetica;
    background-color: #4aaaa5;
    position: fixed;
    left: 20%;
    top: 5px;
    width: 260px;
    height: 80px;
    color: #ffffff;
    text-align: center;
    inset-block: center;
}

.aboutme {
    top: 30%;
    left: 20%;
    position: absolute;
    color: #4aaaa5;

    
}

.aboutmetext {
        background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 600px;
        height: auto;
        transform: translate(-50%, -50%)
        
}

.image {

}