.body {
font: arial;
}

.nav {
position: absolute;
float: left;
}



.aside {
width: 700px;
height: 600px;
padding: 20px;
margin: 100px auto;
}


.header {
width: 100%;
height: 100px;
position: absolute;
margin-bottom: 5px;
border-bottom: 2px;
display: block;
background-color: #ffffff;
border-color: grey;
box-sizing: border-box;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.name {
    font: helvetica;
    background-color: #4aaaa5;
    position: absolute;
    left: 20%;
    width: 260px;
    height: 80px;
    color: #ffffff;
    text-align: center;
    inset-block: center;
}

.aboutme {
    top: auto;
    left: au;
    position: absolute;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}

.aboutmetext {
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        position: absolute;
        color: #777777;
        border-radius: 5px;
        padding: 5px;
        top: 50%;
        left: 50%;
        width: 600px;
        height: auto;
        transform: translate(-50%, -50%)
        
}

.image {
    position: absolute;
    top: 280px;
    
}

.footer {
color: grey;
width: 100%;
height: 100px;
}